[submodule "gu2gl"]
	path = gu2gl
	url = https://github.com/IridescentRose/gu2gl.git
[submodule "minimp3"]
	path = minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "libwave"]
	path = libwave
	url = https://github.com/brglng/libwave.git
[submodule "cglm"]
	path = cglm
	url = https://github.com/recp/cglm.git
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft
